<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <link rel="stylesheet" href="/css/feedback.css">
</head>
<body>
    <div class="container">
        <h1 id="page-title">Feedback</h1>
        <form class="feedback-form">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="text" id="school" name="school" placeholder="School Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <textarea id="comments" name="comments" placeholder="Feedback" rows="5" required></textarea>
            <input type="submit" value="Submit Feedback">
        </form>
    </div>
    <script src="/scripts/feedback.js"></script>
</body>
</html>
