body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px; /* Adjust padding as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-toggle label {
    margin-left: 10px;
}

h1 {
    margin-top: 0;
}

.login-option {
    display: flex; /* Align items in a row */
    flex-direction: row; /* Arrange items horizontally */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px; /* Space between options and other content */
}

.radio-option {
    display: flex; /* Use flex to align radio buttons and labels */
    align-items: center; /* Center items vertically */
    margin-right: 20px; /* Space between radio button groups */
    position: relative; /* Position for custom styling */
}

.radio-option:last-child {
    margin-right: 0; /* Remove margin on the last item */
}

.radio-option input[type="radio"] {
    display: none; /* Hide native radio button */
}

.radio-option label {
    cursor: pointer; /* Pointer cursor to indicate clickable area */
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 5px 10px; /* Padding for better clickable area */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
    position: relative; /* For positioning the custom radio button */
}

.radio-option input[type="radio"]:checked + label {
    background-color: #d4edda; /* Background color for selected option */
    border: 1px solid #c3e6cb; /* Border color for selected option */
}

.radio-option label:hover {
    background-color: #f0f0f0; /* Highlight color on hover */
}

.login-form input[type="text"], 
.login-form input[type="password"], 
.login-form input[type="submit"] {
    width: calc(100% - 22px); /* Adjust width to account for padding and borders */
    padding: 10px;
    margin: 10px 0; /* Consistent vertical spacing */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd; /* Match border with other inputs */
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}
